{% extends 'base.html' %}

{% block content %}
<h2 style="color: white;">Uploaded Images</h2>
<div class="row">
  {% for image in images %}
    <div class="col-md-4" style="padding: 10px;">
      <div class="image-container">
        <img src="{{ image.docfile.url }}" alt="{{ image.docfile.name }}" class="img-thumbnail image">
      </div>
      <form method="post" action="{% url 'delete_image' image.pk %}" style="margin-top: 10px;">
        {% csrf_token %}
        <button type="submit" class="btn btn-danger">Delete</button>
      </form>
    </div>
  {% endfor %}
</div>
{% endblock %}

{% block extra_css %}
<style>
  .image-container {
    width: 100%;
    padding-top: 75%; /* Adjust this value to change the aspect ratio */
    position: relative;
    overflow: hidden;
  }

  .image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
</style>
{% endblock %}
