{% extends 'base.html' %}

{% block content %}
    <h1>Create New MyModel</h1>
    <form method="post" class="mt-3">
        {% csrf_token %}
        {{ form.field1.label_tag }} {{ form.field1 }}
        {% if form.field1.errors %}
            <div class="error">{{ form.field1.errors }}</div>
        {% endif %}
        {{ form.field2.label_tag }} {{ form.field2 }}
        {% if form.field2.errors %}
            <div class="error">{{ form.field2.errors }}</div>
        {% endif %}
        <!-- Add more form fields here -->
        <button type="submit" class="btn btn-primary">Save</button>
    </form>
{% endblock %}
